APP_PORT=3000
APP_VERSION=1.1.0
SHOP_NAME="Mini Shop"

MONGO_INITDB_ROOT_USERNAME=mongo_admin
MONGO_INITDB_ROOT_PASSWORD=replace_with_root_password

MONGODB_DB=mini_shop
MONGO_APP_USERNAME=mini_shop_app
MONGO_APP_PASSWORD=replace_with_app_password