[Unit]
Description=Mini Shop Node.js Application
After=network.target

[Service]
Type=simple
User={{ app_user }}
Group={{ app_group }}
WorkingDirectory={{ app_dir }}
Environment=PORT={{ app_port }}
Environment="SHOP_NAME={{ shop_name }}"
ExecStart=/usr/bin/node {{ app_dir }}/server.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
